@model Web.Models.Business_Entities.CompositeTrackerViewModel

@{
    ViewBag.Title = Model.Title;
    bool isSaved = Model.IndexVM.IsSaved;
    bool notify = Model.IndexVM.Notify;
    var TrackingList = Model.Pager;
    int count = Model.IndexVM.count;
    decimal achievements = Model.Achievements;
    int pageNumber = Model.IndexVM.pageNumber;
    int pageSize = Model.IndexVM.pageSize;
    string message;

    if (ViewBag.Message == "")
    {
        if (isSaved == true)
        {
            message = "Success";
        }
        else
        {
            message = "Failed";
        }
    }
    else
    {
        message = ViewBag.Message;
    }
}


<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>


@* Modal *@
<partial name="Partials/_Modal.cshtml" />

<div class="panel panel-default">
    <div class="panel-header">
        <div class="row">
            <div class="col-4">
                <!-- Button trigger modal -->
                <button type="button"
                        class="btn btn-primary"
                        id="createModalButton"
                        data-url="@Url.Action("Create", "Tracking")"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Create">
                    <i class="fa-solid fa-plus"></i>
                </button>
                <button type="button" class="btn btn-primary report-modal-btn d-none" id="reportModal" data-bs-toggle="modal" data-bs-target="#exampleModal" data-url="@Url.Action("LoadPartialView")">
                    Report
                </button>
                <button type="button"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Restart"
                        class="btn btn-danger" id="deleteAll">
                    <i class="fa-solid fa-arrows-rotate"></i>
                </button>
            </div>
            <div class="col-8 d-flex align-items-center justify-content-end pe-5">
                <span><i class="fa-solid fa-trophy"></i> Achieved : @achievements %</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        @if (TrackingList?.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">SL No.</th>
                        <th scope="col">Completed (hours)</th>
                        <th scope="col">Planned (hours)</th>
                        <th scope="col">Percentage (%)</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var tracker in TrackingList)
                        {
                            count += 1;
                            ViewData["count"] = count;
                            <partial name="Partials/_TrackingList.cshtml" model="tracker" view-data="ViewData" />
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <div>No data available</div>

            <hr />
        }

    </div>
    <div class="panel-footer">

        @{

            var prevDisabled = !Model.Pager!.PreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Pager.NextPage ? "disabled" : "";
            var endPage = Model.Pager.TotalPages;
            var tab = Model.Pager.Count();

            var pagerModel = Model.Pager;

            // var pIndex = (pagerModel.PageIndex - 1);

            var endPageItemCount = (pagerModel.TotalPages - 1) * pagerModel.PageSize;
            var prevPageTotalCount = pagerModel.PageIndex * pagerModel.PageSize - pagerModel.PageSize + 1;

            <a asp-action="Index"
               asp-route-pageNumber="@(Model.Pager.PageIndex - 1)"
               asp-route-count="@prevPageTotalCount"
               asp-route-prevPage="true"
               class="btn btn-outline-secondary @prevDisabled">Previous</a>

            if (Model.IndexVM.pageNumber != 1)
            {
                <a asp-action="Index"
                   asp-route-pageNumber="1"
                   asp-route-prevPage="true"
                   class="btn btn-outline-secondary @prevDisabled">Start</a>
            }

            if (endPage > 1)
            {
                if (!string.Equals(nextDisabled, "disabled", StringComparison.OrdinalIgnoreCase))
                {
                    <a asp-action="Index"
                       asp-route-pageNumber="@endPage"
                       asp-route-count="@endPageItemCount"
                       asp-route-prevPage="false"
                       class="btn btn-outline-secondary @nextDisabled">End</a>
                }
            }

            <a asp-action="Index"
               asp-route-pageNumber="@(Model.Pager.PageIndex + 1)"
               asp-route-count="@count"
               asp-route-prevPage="false"
               class="btn btn-outline-secondary @nextDisabled">Next</a>
        }


    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var toastr = $('#toast');
            var toast = new bootstrap.Toast(toastr)

            var isSaved = "@isSaved".toLowerCase();
            var notify = '@notify'.toLowerCase();

            if (isSaved == "true" && notify == "true") {
                $("#toast").removeClass("bg-danger").addClass("bg-success");
                $('.toast-body').text("@message");
                toast.show();
            }
            else if (isSaved == "false" && notify == "true") {
                $("#toast").removeClass("bg-success").addClass("bg-danger");
                $('.toast-body').text("@message");
                toast.show();
            }
        });
    </script>
}

