@using Web.Models.Business_Entities
@model Pager<TrackerViewModel>

@{
    var count = (int) (ViewData["count"] ?? 0);
}

@if (Model.Count() > 0)
{
    <table class="table text-center">
        <thead>
            <tr class="table-dark">
                <th scope="col">SL No.</th>
                <th scope="col">Completed (hours)</th>
                <th scope="col">Planned (hours)</th>
                <th scope="col">Percentage (%)</th>
                <th scope="col">Date</th>
                <th scope="col">Flagged</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var tracker in Model)
                {
                    <tr class="align-middle">
                        <th scope="row">@count</th>
                        <td>@tracker.Completed</td>
                        <td>@tracker.Planned</td>
                        <td>@tracker.Percentage</td>
                        <td>@tracker.Date?.ToString("MMM dd, yyyy")</td>

                        @if (tracker.IsFlagged == true)
                        {
                            <td><i style="color: red" class="fa-solid fa-flag"></i></td>
                        }
                        else
                        {
                            <td></td>
                        }

                        
                        <td>
                            @{
                                if (tracker.Date.GetValueOrDefault().ToString("dd-MM-yyyy") == DateTime.Now.ToString("dd-MM-yyyy"))
                                {
                                    <a asp-controller="Tracking"
                                       asp-action="Edit"
                                       asp-route-id="@tracker.Id"
                                       class="btn btn-secondary Edit"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="bottom"
                                       data-itemid="@tracker.Id"
                                       title="Edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="Tracking"
                                       asp-action="Edit"
                                       asp-route-id="@tracker.Id"
                                       class="btn btn-secondary disabled Edit"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="bottom"
                                       title="Edit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                }
                            }

                            <a asp-controller="Tracking"
                               asp-action="Delete"
                               asp-route-id="@tracker.Id"
                               class="btn btn-danger delete-tracker"
                               data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="Delete">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>

                    count += 1;

                }
            }
        </tbody>
    </table>
}
else
{
    <div>No data available</div>

    <hr />
}


