@model Web.Models.Business_Entities.CompositeTrackerViewModel

@{
    bool? isSaved = ViewBag.IsSaved;
    var TrackingList = Model.Pager;
    int count = ViewBag.Count;
    decimal achievements = ViewBag.Achievements;
    int pageNumber = ViewBag.PageNumber;
    int pageSize = ViewBag.PageSize;

    if (isSaved == true)
    {
        <div id="successMessage" class="alert alert-success" role="alert">Successful</div>
    }
    else if (isSaved == false)
    {
        <div id="failedMessage" class="alert alert-danger" role="alert">
            Failed
        </div>
    }
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">To Do List completed</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div id="loadModalData"></div>
        </div>
    </div>
</div>



<div class="panel panel-default">
    <div class="panel-header container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary modal-btn" id="createModal" data-bs-toggle="modal" data-bs-target="#exampleModal" data-url="@Url.Action("LoadPartialView")">
                    Create
                </button>
                <button type="button" class="btn btn-primary modal-btn" id="reportModal" data-bs-toggle="modal" data-bs-target="#exampleModal" data-url="@Url.Action("LoadPartialView")">
                    Report
                </button>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 d-flex align-items-center justify-content-center">
                <span><i class="fa-solid fa-trophy"></i> Achieved : @achievements %</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        @if (TrackingList?.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Id</th>
                        <th scope="col">Completed (hours)</th>
                        <th scope="col">Planned (hours)</th>
                        <th scope="col">Percentage (%)</th>
                        <th scope="col">Date (DD-MM-YYYY)</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var t in TrackingList)
                        {
                            count += 1;
                            <tr class="align-middle">
                                <th scope="row">@count</th>
                                <td>@t.Completed</td>
                                <td>@t.Planned</td>
                                <td>@t.Percentage</td>
                                <td>@t.Date?.ToString("dd-MM-yyyy")</td>
                                <td>
                                    @{
                                        if (t.Date.GetValueOrDefault().ToString("dd-MM-yyyy") == DateTime.Now.ToString("dd-MM-yyyy"))
                                        {
                                            <a asp-controller="Tracking"
                                               asp-action="GetEdit"
                                               asp-route-id="@t.Id"
                                               id="Edit"
                                               class="btn btn-secondary"
                                               data-bs-toggle="tooltip"
                                               data-bs-placement="bottom"
                                               title="Edit">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Tracking"
                                               asp-action="GetEdit"
                                               asp-route-id="@t.Id"
                                               id="Edit"
                                               class="btn btn-secondary disabled"
                                               data-bs-toggle="tooltip"
                                               data-bs-placement="bottom"
                                               title="Edit">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        }
                                    }

                                    <a asp-controller="Tracking"
                                       asp-action="Delete"
                                       asp-route-id="@t.Id"
                                       class="btn btn-danger"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="bottom"
                                       title="Delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <div>No data available</div>

            <hr />
        }

    </div>
    <div class="panel-footer">

        @{

            var prevDisabled = !Model.Pager!.PreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Pager.NextPage ? "disabled" : "";
            var endPage = Model.Pager.TotalPages;
            var tab = Model.Pager.Count();

            var pagerModel = Model.Pager;

            // var pIndex = (pagerModel.PageIndex - 1);

            var endPageItemCount = (pagerModel.TotalPages - 1) * pagerModel.PageSize;
            var prevPageTotalCount = pagerModel.PageIndex * pagerModel.PageSize - pagerModel.PageSize + 1;

            <a asp-action="Index"
               asp-route-pageNumber="@(Model.Pager.PageIndex - 1)"
               asp-route-count="@prevPageTotalCount"
               asp-route-prevPage="true"
               class="btn btn-outline-secondary @prevDisabled">Previous</a>

            if (ViewBag.PageNumber != 1)
            {
                <a asp-action="Index"
                   asp-route-pageNumber="1"
                   asp-route-prevPage="true"
                   class="btn btn-outline-secondary @prevDisabled">Start</a>
            }

            if (endPage > 1)
            {
                if (!string.Equals(nextDisabled, "disabled", StringComparison.OrdinalIgnoreCase))
                {
                    <a asp-action="Index"
                       asp-route-pageNumber="@endPage"
                       asp-route-count="@endPageItemCount"
                       asp-route-prevPage="false"
                       class="btn btn-outline-secondary @nextDisabled">End</a>
                }
            }

            <a asp-action="Index"
               asp-route-pageNumber="@(Model.Pager.PageIndex + 1)"
               asp-route-count="@count"
               asp-route-prevPage="false"
               class="btn btn-outline-secondary @nextDisabled">Next</a>
        }


    </div>
</div>

@section Scripts {
    <script src="~/js/tracking.js" asp-append-version="true"></script>
}

